In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
df = pd.read_csv('company_sales_data.csv')
df

AttributeError: module 'pandas' has no attribute 'read_csv'

In [ ]:
import calendar

for month_idx in range(1, 13):  #Con un ciclo for printiamo i mesi dell'anno
    print (calendar.month_name[month_idx])

January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
month_word = {      
1:'January',
2:'February',
3:'March',
4:'April',
5:'May',
6:'June',
7:'July',
8:'August',
9:'September',
10:'October',
11:'November',
12:'December'
}
df['month_number'] = df['month_number'].map(month_word)
df.rename(columns={'month_number':'month'}, inplace=True)
df

,month,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,January,2500,1500,5200,9200,1200,1500,21100,211000
1,February,2630,1200,5100,6100,2100,1200,18330,183300
2,March,2140,1340,4550,9550,3550,1340,22470,224700
3,April,3400,1130,5870,8870,1870,1130,22270,222700
4,May,3600,1740,4560,7760,1560,1740,20960,209600
5,June,2760,1555,4890,7490,1890,1555,20140,201400
6,July,2980,1120,4780,8980,1780,1120,29550,295500
7,August,3700,1400,5860,9960,2860,1400,36140,361400
8,September,3540,1780,6100,8100,2100,1780,23400,234000
9,October,1990,1890,8300,10300,2300,1890,26670,266700
10,November,2340,2100,7300,13300,2400,2100,41280,412800
11,December,2900,1760,7400,14400,1800,1760,30020,300200

In [ ]:
df.columns

Index(['month', 'facecream', 'facewash', 'toothpaste', 'bathingsoap',
       'shampoo', 'moisturizer', 'total_units', 'total_profit'],
      dtype='object')

In [ ]:
ax = plt.gca()
df.plot(kind='line',x='month',y='facecream',ax=ax,title='Vendite')
df.plot(kind='line',x='month',y='facewash',ax=ax)
df.plot(kind='line',x='month',y='toothpaste',ax=ax)
df.plot(kind='line',x='month',y='bathingsoap',ax=ax)
df.plot(kind='line',x='month',y='shampoo',ax=ax)
df.plot(kind='line',x='month',y='moisturizer',ax=ax)

ay = plt.gca()

df.plot(kind='line',x='month',y='total_units',color='g',title='Vendite Totali',ay=ay)
df.plot(kind='line',x='month',y='total_profit',ay=ay)

In [ ]:
ax = plt.gca()
item = df.columns[1:7]
item

for i in item:
    df.plot(kind='line',x='month',y=i,ax=ax,figsize=(18,10))

NameError: name 'plt' is not defined

In [ ]:
item

NameError: name 'item' is not defined